<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MODULE_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(MODULE_VERSION)</string>
	<key>GPUCompanionBundles</key>
	<array>
		<string>AMDRadeonVADriver.bundle</string>
		<string>AMDRadeonX4000GLDriver.bundle</string>
		<string>AMDMTLBronzeDriver.bundle</string>
	</array>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AMD Radeon X4000 CI Services</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMDRadeonX4000HWServices</string>
			<key>IOClass</key>
			<string>AMDRadeonX4000_AMDRadeonHWServicesCI</string>
			<key>IOMatchCategory</key>
			<string>AMDRadeonX4000HWServices</string>
			<key>IOPCIMatch</key>
			<string>0x98531002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>65051</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadHWServices</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>AMDHawaiiGraphicsAccelerator</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMDRadeonX4000</string>
			<key>GpuDebugPolicy</key>
			<integer>-1</integer>
			<key>IOClass</key>
			<string>AMDRadeonX4000_AMDHawaiiGraphicsAccelerator</string>
			<key>IODVDBundleName</key>
			<string>AMDRadeonVADriver</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIMatch</key>
			<string>0x98531002</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadAccelerator</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>IOVARendererID</key>
			<integer>16908288</integer>
		</dict>
		<key>AtiGpuWrangler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMD8000Controller</string>
			<key>IOClass</key>
			<string>AMD8000ControllerWrangler</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIMatch</key>
			<string>0x98531002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>65050</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>Controller</key>
		<dict>
			<key>ATY,Exmoor</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_DEF_DITH</key>
					<integer>0</integer>
					<key>CFG_DIAG_LED</key>
					<integer>1</integer>
					<key>CFG_FB_LIMIT</key>
					<integer>6</integer>
					<key>CFG_NVV</key>
					<integer>2</integer>
					<key>CFG_PTPL2_TBL</key>
					<data>
					WgAAAFIAAABMAAAARwAAAEMAAAA/AAAAOwAA
					ADcAAAAzAAAALwAAACsAAAAnAAAAIwAAAB8A
					AAAbAAAAFwAAAA==
					</data>
					<key>CFG_USE_AGDC</key>
					<true/>
				</dict>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMD8000Controller</string>
			<key>IOClass</key>
			<string>AMD8000Controller</string>
			<key>IOMatchCategory</key>
			<string>ATIFramebuffer</string>
			<key>IOName</key>
			<string>AMD8000Controller</string>
			<key>IOPCIMatch</key>
			<string>0x66401002 0x66411002 0x66461002 0x66471002 0x66501002 0x66511002 0x665C1002 0x665D1002 0x67B01002</string>
			<key>IOProbeScore</key>
			<integer>65050</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadController</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_APER_MODE</key>
				<integer>1</integer>
				<key>CFG_CAA</key>
				<integer>0</integer>
				<key>CFG_FB_LIMIT</key>
				<integer>0</integer>
				<key>CFG_FORCE_HDMI</key>
				<false/>
				<key>CFG_FORCE_MAX_DPS</key>
				<false/>
				<key>CFG_GEN_FLAGS</key>
				<integer>0</integer>
				<key>CFG_INT_SSPC</key>
				<integer>25</integer>
				<key>CFG_NODM</key>
				<true/>
				<key>CFG_NO_HDCP</key>
				<false/>
				<key>CFG_NO_MST</key>
				<false/>
				<key>CFG_NO_SLS</key>
				<false/>
				<key>CFG_PULSE_INT</key>
				<true/>
				<key>CFG_TRANS_WSRV</key>
				<true/>
				<key>CFG_USE_AGDC</key>
				<true/>
				<key>CFG_USE_CPSTATUS</key>
				<true/>
				<key>CFG_USE_DPT</key>
				<true/>
				<key>CFG_USE_FBC</key>
				<false/>
				<key>CFG_USE_FBWRKLP</key>
				<true/>
				<key>CFG_USE_FEDS</key>
				<true/>
				<key>CFG_USE_STUTTER</key>
				<false/>
				<key>DALReadDelayStutterOff</key>
				<integer>4</integer>
				<key>DALUseUrgencyWaterMarkOffset</key>
				<integer>0</integer>
			</dict>
			<key>aty_properties</key>
			<dict>
				<key>PP_DisableCAC</key>
				<integer>0</integer>
				<key>PP_DisableDIDT</key>
				<integer>1</integer>
				<key>PP_DisablePPLib</key>
				<integer>0</integer>
				<key>PP_DisablePowerContainment</key>
				<integer>0</integer>
				<key>PP_DisableULV</key>
				<integer>0</integer>
				<key>PP_DisableVoltageIsland</key>
				<integer>1</integer>
				<key>PP_EnableBAPM</key>
				<integer>0</integer>
				<key>PP_EnableLoadFalconSmcFirmware</key>
				<integer>1</integer>
				<key>PP_Falcon_QuickTransition_Enable</key>
				<integer>1</integer>
				<key>PP_MclkActivityTarget</key>
				<integer>5</integer>
				<key>PP_PhmUseDummyBackEnd</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.ZormIndustries.LegacyRed</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.ZormIndustries.LegacyRed</string>
			<key>IOClass</key>
			<string>LegacyRed</string>
			<key>IOMatchCategory</key>
			<string>LegacyRed</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2022 Zormeister. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>as.vit9696.Lilu</key>
		<string>1.4.7</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.dsep</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
