<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MODULE_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(MODULE_VERSION)</string>
	<key>GPUCompanionBundles</key>
	<array>
		<string>AMDRadeonX5000GLDriver.bundle</string>
		<string>AMDRadeonVADriver2.bundle</string>
		<string>AMDRadeonX5000MTLDriver.bundle</string>
		<string>AMDRawCounterPlugin.bundle</string>
	</array>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AMD Radeon X5000 HW Services</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMDRadeonX5000HWServices</string>
			<key>IOClass</key>
			<string>AMDRadeonX5000_AMDRadeonHWServicesVega</string>
			<key>IOMatchCategory</key>
			<string>AMDRadeonX5000HWServices</string>
			<key>IOPCIMatch</key>
			<string>0x15DD1002 0x15D81002 0x164C1002 0x16361002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>65051</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadHWServices</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>AMDVega10GraphicsAccelerator</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMDRadeonX5000</string>
			<key>GpuDebugPolicy</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>AMDRadeonX5000_AMDVega10GraphicsAccelerator</string>
			<key>IODVDBundleName</key>
			<string>AMDRadeonVADriver2</string>
			<key>IOGVACodec</key>
			<string>AMDVCN1</string>
			<key>IOGVAH264EncodeCapabilities</key>
			<dict>
				<key>VTQualityRating</key>
				<integer>50</integer>
				<key>VTRating</key>
				<integer>350</integer>
			</dict>
			<key>IOGVAHEVCDecode</key>
			<string>1</string>
			<key>IOGVAHEVCDecodeCapabilities</key>
			<dict>
				<key>VTPerProfileDetails</key>
				<dict>
					<key>1</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>153</integer>
					</dict>
					<key>2</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>153</integer>
					</dict>
					<key>3</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>153</integer>
					</dict>
				</dict>
				<key>VTSupportedProfileArray</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
			</dict>
			<key>IOGVAHEVCEncode</key>
			<string>1</string>
			<key>IOGVAHEVCEncodeCapabilities</key>
			<dict>
				<key>VTPerProfileDetails</key>
				<dict>
					<key>1</key>
					<dict>
						<key>VTMaxEncodeLevel</key>
						<integer>153</integer>
					</dict>
				</dict>
				<key>VTQualityRating</key>
				<integer>50</integer>
				<key>VTRating</key>
				<integer>350</integer>
				<key>VTSupportedProfileArray</key>
				<array>
					<integer>1</integer>
				</array>
			</dict>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIMatch</key>
			<string>0x15DD1002 0x15D81002 0x164C1002 0x16361002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadAccelerator</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>IOVARendererID</key>
			<integer>16908288</integer>
			<key>cail_properties</key>
			<dict>
				<key>CAIL_DisableCailLoadUcode</key>
				<integer>0</integer>
				<key>CAIL_DisableJpegEngine</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>AtiGpuWrangler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMD10000Controller</string>
			<key>IOClass</key>
			<string>AMD10000ControllerWrangler</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIMatch</key>
			<string>0x15DD1002 0x15D81002 0x164C1002 0x16361002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>65050</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>Controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMD10000Controller</string>
			<key>IOClass</key>
			<string>AMD10000Controller</string>
			<key>IOMatchCategory</key>
			<string>ATIFramebuffer</string>
			<key>IOName</key>
			<string>AMD10000Controller</string>
			<key>IOPCIMatch</key>
			<string>0x15DD1002 0x15D81002 0x164C1002 0x16361002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>65050</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadController</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_APER_MODE</key>
				<integer>1</integer>
				<key>CFG_CAA</key>
				<integer>0</integer>
				<key>CFG_FB_LIMIT</key>
				<integer>0</integer>
				<key>CFG_FORCEMAXDPM</key>
				<false/>
				<key>CFG_FORCE_MAX_DPS</key>
				<false/>
				<key>CFG_GEN_FLAGS</key>
				<integer>0</integer>
				<key>CFG_INT_SSPC</key>
				<integer>25</integer>
				<key>CFG_NODM</key>
				<true/>
				<key>CFG_NON_ZERO_MC_LOC</key>
				<true/>
				<key>CFG_NO_HDCP</key>
				<false/>
				<key>CFG_NO_MSI</key>
				<false/>
				<key>CFG_NO_MST</key>
				<false/>
				<key>CFG_NO_PP</key>
				<false/>
				<key>CFG_NO_SLS</key>
				<false/>
				<key>CFG_NVV</key>
				<integer>2</integer>
				<key>CFG_PAA</key>
				<integer>0</integer>
				<key>CFG_PTPL2_CNT</key>
				<integer>16</integer>
				<key>CFG_PTPL2_MAX</key>
				<integer>250</integer>
				<key>CFG_PTPL2_MIN</key>
				<integer>100</integer>
				<key>CFG_PULSE_INT</key>
				<true/>
				<key>CFG_TRANS_WSRV</key>
				<true/>
				<key>CFG_UFL_CHK</key>
				<false/>
				<key>CFG_UFL_STP</key>
				<false/>
				<key>CFG_USE_AGDC</key>
				<true/>
				<key>CFG_USE_CP2</key>
				<true/>
				<key>CFG_USE_CPSTATUS</key>
				<true/>
				<key>CFG_USE_DPT</key>
				<true/>
				<key>CFG_USE_FBC</key>
				<false/>
				<key>CFG_USE_FBWRKLP</key>
				<true/>
				<key>CFG_USE_FEDS</key>
				<true/>
				<key>CFG_USE_HDMI20</key>
				<true/>
				<key>CFG_USE_LPT</key>
				<false/>
				<key>CFG_USE_SCANOUT</key>
				<true/>
				<key>CFG_USE_SRRB</key>
				<false/>
				<key>CFG_USE_STUTTER</key>
				<true/>
				<key>CFG_USE_SWIP</key>
				<true/>
				<key>CFG_USE_TCON</key>
				<true/>
				<key>DALReadDelayStutterOff</key>
				<integer>4</integer>
				<key>DALUseUrgencyWaterMarkOffset</key>
				<integer>0</integer>
			</dict>
			<key>aty_properties</key>
			<dict>
				<key>Force_Load_FalconSMUFW</key>
				<true/>
				<key>PP_ACDCGpioDisabled</key>
				<integer>0</integer>
				<key>PP_DisableClockStretcher</key>
				<integer>1</integer>
				<key>PP_DisablePCCLimitControl</key>
				<integer>1</integer>
				<key>PP_DisableULV</key>
				<integer>1</integer>
				<key>PP_EnableUploadFirmware</key>
				<integer>0</integer>
				<key>PP_Falcon_QuickTransition_Enable</key>
				<integer>1</integer>
				<key>PP_GfxOffControl</key>
				<integer>0</integer>
				<key>PP_PhmUseDummyBackEnd</key>
				<integer>0</integer>
				<key>PP_ToolsLogSpaceSize</key>
				<integer>524288</integer>
			</dict>
		</dict>
		<key>com.VisualDevelopment.WhateverRed</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>$(PRODUCT_NAME:rfc1034identifier)</string>
			<key>IOMatchCategory</key>
			<string>$(PRODUCT_NAME:rfc1034identifier)</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2022 ChefKiss Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>as.vit9696.Lilu</key>
		<string>1.4.7</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.dsep</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
