name: CI

on:
  push:
  pull_request:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  build:
    name: Build
    runs-on: macos-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: "recursive"
      - run: xcodebuild -configuration Debug -arch x86_64 build
      - run: xcodebuild -configuration Research\ Release -arch x86_64 build
      - run: xcodebuild -configuration Release -arch x86_64 build
      - name: Upload to Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: Artifacts
          path: build/*/*.zip
      - name: Upload build
        uses: svenstaro/upload-release-action@2.11.3
        if: github.event_name == 'release'
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/*/*.zip
          tag: ${{ github.ref }}
          file_glob: true
          overwrite: true

  analyse-clang:
    name: Analyse Clang
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: "recursive"
      - run: xcodebuild analyze -quiet -scheme NootedRed -configuration Debug -arch x86_64 CLANG_ANALYZER_OUTPUT=plist-html CLANG_ANALYZER_OUTPUT_DIR="$(pwd)/clang-analyze" && [ "$(find clang-analyze -name "*.html")" = "" ]
      - run: xcodebuild analyze -quiet -scheme NootedRed -configuration Research\ Release -arch x86_64 CLANG_ANALYZER_OUTPUT=plist-html CLANG_ANALYZER_OUTPUT_DIR="$(pwd)/clang-analyze" && [ "$(find clang-analyze -name "*.html")" = "" ]
      - run: xcodebuild analyze -quiet -scheme NootedRed -configuration Release -arch x86_64 CLANG_ANALYZER_OUTPUT=plist-html CLANG_ANALYZER_OUTPUT_DIR="$(pwd)/clang-analyze" && [ "$(find clang-analyze -name "*.html")" = "" ]
